services:
  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./docker/qdrant/data:/qdrant/storage
    restart: unless-stopped